.yellow {
  border-color: yellow !important;
}

.green {
  border-color: green !important;
}

.orange {
  border-color: orange !important;
}

.card-body button {
  position: absolute;
  bottom:   4px;
  left: 4px;
}
.card-body button.sm {
  position: absolute;
  font-size: 13px;
  bottom: 7px;
  left: 42%;
}
.card-footer {
  width: 50px;
  position: absolute;
  right: 0;
  bottom: 0;
}
